absl-py
asttokens
astunparse
cachetools
certifi
charset-normalizer
cloudpickle
colorama
comm
contourpy
cycler
debugpy
decorator
dm-tree
executing
filelock
flatbuffers
fonttools
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
idna
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
mpmath
namex
nest-asyncio
networkx
numpy
oauthlib
onnx
onnx-tf
opt_einsum
optree
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
protobuf
psutil
pure_eval
pyasn1
pyasn1_modules
Pygments
pyparsing
python-dateutil
pytz
pywin32
PyYAML
pyzmq
regex
requests
requests-oauthlib
rich
rsa
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
six
stack-data
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-addons
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-probability
tensorflow_intel
termcolor
tf2onnx
tf_keras
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typeguard
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wrapt
xgboost
absl-py
ansicon
astunparse
attrs
beautifulsoup4
blessed
certifi
cffi
charset-normalizer
chromedriver-autoinstaller
click
colorama
contourpy
customtkinter
cycler
darkdetect
decorator
editor
flatbuffers
fonttools
future
gast
geocoder
google-pasta
grpcio
h11
h5py
idna
inquirer
jinxed
joblib
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
MouseInfo
namex
numpy
opencv-python
opt_einsum
optree
outcome
packaging
pandas
pillow
protobuf
PyAutoGUI
pycparser
PyGetWindow
Pygments
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
PySocks
python-dateutil
pytweening
pytz
pywin32
ratelim
readchar
requests
rich
runs
scikit-learn
scipy
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
tensorboard
tensorboard-data-server
tensorflow
tensorflow_intel
termcolor
threadpoolctl
tkintermapview
tqdm
trio
trio-websocket
typing_extensions
tzdata
urllib3
wcwidth
websocket-client
Werkzeug
wheel
wrapt
wsproto
xmod
